﻿@model ORMS.Models.PreCostSheet

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript">
    $("#styleNo").autocomplete({
    source: function(request, response) {
        $.ajax({
            url: "/Styles/GetExistingStyles",
            type: "POST",
            dataType: "json",
            data: { StyleNo: $("#styleNo").val() },
            success: function (data) {
                response($.map(data, function (item) {
                    return {
                        label: item.StyleNo + " (" + item.Buyer.Name + ")", styleId: item.Id, styleNo: item.StyleNo,
                        buyerId: item.BuyerId, buyerName: item.Buyer.Name, knittingTypeId: item.KnittingTypeId, knittingTypeName: item.KnittingType.Name,
                        gsm: item.GSM, colorRange: item.ColorRange, sizeRange: item.SizeRange, styleDescription: item.StyleDescription
                    };
                }));
            }
        });
    },
    select: function (event, ui) {
        $("#styleId").val(ui.item.styleId);
        $('#styleNo').val(ui.item.styleNo);
        $("#buyerId").val(ui.item.buyerId);
        $('#buyerName').val(ui.item.buyerName);
        $('#knittingTypeId').val(ui.item.knittingTypeId);
        $('#knittingTypeName').val(ui.item.knittingTypeName);
        $('#gsm').val(ui.item.gsm);
        $('#colorRange').val(ui.item.colorRange);
        $('#sizeRange').val(ui.item.sizeRange);
        $('#styleDescription').val(ui.item.styleDescription);
        return false;
    }
    });

    $("#marchandiserName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Marchendisers/GetExistingMarchendisers",
                type: "POST",
                dataType: "json",
                data: { MarchendiserName: $("#marchandiserName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name + " (" + item.Email + ")" + " (" + item.Mobile + ")", id: item.Id, name: item.Name };
                    }));
                }
            });
        },
        select: function (event, ui) {
            $("#marchandiserId").val(ui.item.id);
            $('#marchandiserName').val(ui.item.name);
            return false;
        }
    });
    $("#productName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Products/GetExistingProducts",
                type: "POST",
                dataType: "json",
                data: { ProductName: $("#productName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name , id: item.Id, name: item.Name };
                    }));
                }
            });
        },
        select: function (event, ui) {
            $("#productId").val(ui.item.id);
            $('#productName').val(ui.item.name);
            return false;
        }
    });
    $("#fabricName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Fabrics/GetExistingFabric",
                type: "POST",
                dataType: "json",
                data: { FabricName: $("#fabricName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, id: item.Id, name: item.Name };
                    }));
                }
            });
        },
        select: function (event, ui) {
            $("#fabricId").val(ui.item.id);
            $('#fabricName').val(ui.item.name);
            return false;
        }
    });

    function CalculateTotalAccesoriesCost()
    {
        if($('#productName').val() != "")
        {
            var consumption = $('#conDoz').val();
            var price = $('#price').val();
            var total = consumption * price;
            $('#totalCost').val(total);
            $('#costDoz').val(price);
            var costpc = price / 12;
            $('#costPc').val(costpc);
        }
    }

    function CalculateTotalFabricCost()
    {
        if($('#fabricId').val() != "")
        {
            var yarn = parseFloat($('#yarn').val());
            var knitting =  parseFloat($('#knitting').val());
            var dying =  parseFloat($('#dying').val());
            var lycra =  parseFloat($('#lycra').val());
            var aop =  parseFloat($('#aop').val());
            var wash = parseFloat($('#wash').val());
            var yd = parseFloat($('#wash').val());
            var finish = parseFloat($('#finish').val());
            var brash = parseFloat($('#brash').val());
            var total = yarn + knitting + dying + lycra + aop + wash + yd + finish + brash;
            $('#fabricCost').val(total);
            
        }
    }
    function CalculateConPc()
    {
        if ($('#condoz').val() != "")
        {
            var condoz = parseFloat($('#condoz').val());
            var conpc = condoz/12;
            $('#conPc').val(conpc);
            var total = parseFloat($('#fabricCost').val());
            //var conpc = parseFloat($('#conPc').val());
            var valpc = total * conpc;
            var valdoz = valpc * 12;
            $('#valPc').val(valpc);
            $('#valDoz').val(valdoz);
        }
    }
    //function CalculateValDoz()
    //{
    //    if($('#fabricId').val() != "" && $('#condoz').val())
    //    {
    //        var total = parseFloat($('#fabricCost').val());
    //        var conpc = parseFloat($('#conPc').val());
    //        var valpc = total * conpc;
    //        var valdoz = valpc * 12;
    //        $('#valPc').val(valpc);
    //        $('#valDoz').val(valdoz);
    //    }
    //}
    function CalculateCostDoz()
    {
        if($('#costpc').val() != "")
        {
            var costpc = parseFloat($('#costpc').val());
            var costdoz = costpc * 12;
            $('#costdoz').val(costdoz);
        }
    }

    function CalculateTotalStepCost()
    {
        if ($('#stepName').val() != "")
        {
            var costdoz = $('#costdoz').val();
            costpc = costdoz / 12;
            $('#costpc').val(costpc);
        }
    }

    function addItem() {
        if ($('#productId').val() != "") {
            $.ajax({
                url: '/PreCostSheets/GetSelectedAccesories',
                method: 'POST',
                data: {
                    ProductId: $('#productId').val(),
                    ProductName: $('#productName').val(),
                    Code: $('#code').val(),
                    Sequence: $('#sequence').val(),
                    Unit: $('#unit').val(),
                    ConDoz: $('#conDoz').val(),
                    Price: $('#price').val(),
                    CostDoz: $('#costDoz').val(),
                    CostPc: $('#costPc').val(),
                    TotalCost: $('#totalCost').val(),
                },
                cache: false,
                error: function () {
                    alert("An error occoured!");
                },
                success: function (response) {
                    $('#myTable1 tbody').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#myTable1').find('tbody').append("<tr>" +
                                                        "<td>" +
                                                             "<label class = \"form-control\" style = \"width:100%\">" + response[i].Code + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Product.Name + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Sequence + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Unit + "</label>" +
                                                        "</td>" +
                                                         "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].ConDOz + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Price + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].CostDoz + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].CostPc + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].TotalCost + "</label>" +
                                                        "</td>" +
                                                        "<td class=\"action\">" +
                                                            "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFromList(" + response[i].Id + ")\">Remove</button>" +
                                                        "</td></tr>")
                    }
                    $('#productId').val(),
                    $('#productName').val(''),
                    $('#code').val(''),
                    $('#sequence').val(''),
                    $('#unit').val(''),
                    $('#conDoz').val(''),
                    $('#price').val(''),
                    $('#costDoz').val(''),
                    $('#costPc').val(''),
                    $('#totalCost').val('');
                    $('#productName').focus();
                    document.getElementById("submitBtn").removeAttribute("disabled");
                    TotalCalculation();
                }
            });
        }
        else {
            alert('Must have to enter item name!');
        }
    }

    function deleteFromList(detailsId) {
        $.ajax({
            url: '/PreCostSheets/DeleteFromList',
            method: 'POST',
            data: {
                DetailsId: detailsId,
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#myTable1 tbody').empty();
                for (var i = 0; i < response.length; i++) {
                    $('#myTable1').find('tbody').append("<tr>" +
                                                    "<td>" +
                                                         "<label class = \"form-control\" style = \"width:100%\">" + response[i].Code + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].Product.Name + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].Sequence + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].Unit + "</label>" +
                                                    "</td>" +
                                                     "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].ConDOz + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].Price + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].CostDoz + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].CostPc + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].TotalCost + "</label>" +
                                                    "</td>" +
                                                    "<td class=\"action\">" +
                                                        "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFromList(" + response[i].Id + ")\">Remove</button>" +
                                                    "</td></tr>")
                }
                if (response.length == 0) {
                    document.getElementById("submitBtn").setAttribute("disabled", true);
                }
                TotalCalculation();
            }
        });
    }

    function addFabric() {
        if ($('#fabricId').val() != "") {
            $.ajax({
                url: '/PreCostSheets/GetSelectedFabricCost',
                method: 'POST',
                data: {
                    FabricId: $('#fabricId').val(),
                    FabricName: $('#fabricName').val(),
                    Code: $('#code1').val(),
                    Sequence: $('#sequence1').val(),
                    Unit: $('#unit1').val(),
                    Yarn: $('#yarn').val(),
                    Knitting: $('#knitting').val(),
                    Dying: $('#dying').val(),
                    Lycra: $('#lycra').val(),
                    AOP: $('#aop').val(),
                    Wash: $('#wash').val(),
                    YD: $('#yd').val(),
                    Finish: $('#finish').val(),
                    Brash: $('#brash').val(),
                    Fabriccost: $('#fabricCost').val(),
                    ConDoz: $('#condoz').val(),
                    ConPc: $('#conPc').val(),
                    ValPc: $('#valPc').val(),
                    ValDoz: $('#valDoz').val()
                },
                cache: false,
                error: function () {
                    alert("An error occoured!");
                },
                success: function (response) {
                    $('#myTable2 tbody').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#myTable2').find('tbody').append("<tr>" +
                                                        "<td>" +
                                                             "<label class = \"form-control\" style = \"width:100%\">" + response[i].Code + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Fabric.Name + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Sequence + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Unit + "</label>" +
                                                        "</td>" +
                                                         "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Yarn + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Knitting + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Dying + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Lycra + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].AOP + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Wash + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].YD + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Finish + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Brash + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Fabriccost + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].ConDoz + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].ConPc + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].ValPc + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].ValDoz + "</label>" +
                                                        "</td>" +
                                                        "<td class=\"action\">" +
                                                            "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFabricFromList(" + response[i].Id + ")\">Remove</button>" +
                                                        "</td></tr>")
                    }
                    $('#fabricId').val(''),
                    $('#fabricName').val(''),
                    $('#code1').val(''),
                    $('#sequence1').val(''),
                    $('#unit1').val(''),
                    $('#yarn').val(''),
                    $('#knitting').val(''),
                    $('#dying').val(''),
                    $('#lycra').val(''),
                    $('#aop').val(''),
                    $('#wash').val(''),
                    $('#yd').val(''),
                    $('#finish').val(''),
                    $('#brash').val(''),
                    $('#fabricCost').val(''),
                    $('#condoz').val(''),
                    $('#conPc').val(''),
                    $('#valPc').val(''),
                    $('#valDoz').val(''),
                    $('#fabricName').focus();
                    document.getElementById("submitBtn").removeAttribute("disabled");
                    TotalCalculation();
                }
            });
        }
        else {
            alert('Must have to enter item name!');
        }
    }

    function deleteFabricFromList(detailsId) {
        $.ajax({
            url: '/PreCostSheets/DeleteFabricFromList',
            method: 'POST',
            data: {
                DetailsId: detailsId,
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#myTable2 tbody').empty();
                for (var i = 0; i < response.length; i++) {
                    $('#myTable2').find('tbody').append("<tr>" +
                                                    "<td>" +
                                                             "<label class = \"form-control\" style = \"width:100%\">" + response[i].Code + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Product.Name + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Sequence + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Unit + "</label>" +
                                                        "</td>" +
                                                         "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].ConDOz + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Price + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].CostDoz + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].CostPc + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].TotalCost + "</label>" +
                                                        "</td>" +
                                                    "<td class=\"action\">" +
                                                        "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFabricFromList(" + response[i].Id + ")\">Remove</button>" +
                                                    "</td></tr>")
                }
                if (response.length == 0) {
                    document.getElementById("submitBtn").setAttribute("disabled", true);
                }
                TotalCalculation();
            }
        });
    }

    function addStepCost() {
        if ($('#stepName').val() != "") {
            $.ajax({
                url: '/PreCostSheets/GetSelectedStepCost',
                method: 'POST',
                data: {
                    StepName: $('#stepName').val(),
                    Remarks: $('#remarks').val(),
                    CostPc: $('#costpc').val(),
                    CostDoz: $('#costdoz').val()
                },
                cache: false,
                error: function () {
                    alert("An error occoured!");
                },
                success: function (response) {
                    $('#myTable3 tbody').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#myTable3').find('tbody').append("<tr>" +
                                                        "<td>" +
                                                             "<label class = \"form-control\" style = \"width:100%\">" + response[i].StepName + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Remarks + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].CostPc + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].CostDoz + "</label>" +
                                                        "</td>" +
                                                        "<td class=\"action\">" +
                                                            "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteStepFromList(" + response[i].Id + ")\">Remove</button>" +
                                                        "</td></tr>")
                    }
                    $('#stepName').val(''),
                    $('#remarks').val(''),
                    $('#costpc').val(''),
                    $('#costdoz').val(''),
                    $('#stepName').focus();
                    document.getElementById("submitBtn").removeAttribute("disabled");
                    TotalCalculation();
                }
            });
        }
        else {
            alert('Must have to enter step name!');
        }
    }

    function deleteStepFromList(detailsId) {
        $.ajax({
            url: '/PreCostSheets/DeleteStepFromList',
            method: 'POST',
            data: {
                DetailsId: detailsId,
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#myTable3 tbody').empty();
                for (var i = 0; i < response.length; i++) {
                    $('#myTable3').find('tbody').append("<tr>" +
                                                    "<td>" +
                                                             "<label class = \"form-control\" style = \"width:100%\">" + response[i].StepName + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Remarks + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].CostPc + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].CostDoz + "</label>" +
                                                        "</td>" +
                                                    "<td class=\"action\">" +
                                                        "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteStepFromList(" + response[i].Id + ")\">Remove</button>" +
                                                    "</td></tr>")
                }
                if (response.length == 0) {
                    document.getElementById("submitBtn").setAttribute("disabled", true);
                }
                TotalCalculation();
            }
        });
    }

    function TotalCalculation() {
        $.ajax({
            url: '/PreCostSheets/GetTotal',
            method: 'POST',
            data: {
                    
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                    $('#totalFabricCost').val(response.TotalFabricCost),
                    $('#totalAccessoriesCost').val(response.TotalAccesoriesCost),
                    $('#otherCost').val(response.OtherCost),
                    $('#fobCost').val(response.FOBCost);
            }
        });
    }

    </script>
}
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cost Sheet</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.StyleId, "Style", new { @class = "required"})
                </div>
                      <div>
                        <input type="hidden" id="styleId" name="StyleId" />
                        <input type="text" class="form-control" id="styleNo" name="StyleNo" placeholder="Style No" />
                        @*@Html.DropDownList("StyleId", null, htmlAttributes: new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.StyleId, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.BuyerId, "Buyer", new { @class = "required" })
                </div>
                    <div>
                        <input type="hidden" id="buyerId" name="BuyerId" />
                        <input type="text" class="form-control" id="buyerName" name="BuyerName" placeholder="Buyer Name" readonly />
                        @*@Html.DropDownList("BuyerId", null, htmlAttributes: new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.BuyerId, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.GSM, new { @class = "required" })
                </div>
                     <div>
                        @Html.EditorFor(model => model.GSM, new { htmlAttributes = new { @class = "form-control", @id = "gsm", @readonly = true } })
                        @Html.ValidationMessageFor(model => model.GSM, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.StyleDescription, "Style Description",new { @class = "required"})
                </div>
                     <div>
                        @Html.EditorFor(model => model.StyleDescription, new { htmlAttributes = new { @class = "form-control", @id = "styleDescription" } })
                        @Html.ValidationMessageFor(model => model.StyleDescription, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.FileNumber, "File Number", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.FileNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FileNumber, "", new { @class = "text-danger" })
                    </div>
                <br/>
                <div>
                    @Html.LabelFor(model => model.KnittingTypeId, "Knitting Type", new { @class = "required" })
                </div>
                     <div>
                        <input type="hidden" id="knittingTypeId" name="KnittingTypeId" />
                        <input type="text" class="form-control" id="knittingTypeName" name="KnittingTypeName" placeholder="Knitting Type Name" readonly />
                        @*@Html.DropDownList("KnittingTypeId", null, htmlAttributes: new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.KnittingTypeId, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.ColorRange, "Color Range", new { @class = "required" })
                </div>
                     <div>
                        @Html.EditorFor(model => model.ColorRange, new { htmlAttributes = new { @class = "form-control", @id = "colorRange", @readonly = true } })
                        @Html.ValidationMessageFor(model => model.ColorRange, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.MarchendiserId, "Marchendiser", new { @class = "required" })
                </div>
                     <div>
                        <input type="hidden" id="marchandiserId" name="MarchendiserId" />
                        <input type="text" class="form-control" id="marchandiserName" name="MarchandiserName" placeholder="Marchandiser Name" />
                        @*@Html.DropDownList("MarchendiserId", null, htmlAttributes: new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.MarchendiserId, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div  class="col-md-4">
                @{
                    List<SelectListItem> listItems1 = new List<SelectListItem>();
                    listItems1.Add(new SelectListItem
                    {
                        Text = "TK",
                        Value = "TK",
                    });
                    listItems1.Add(new SelectListItem
                    {
                        Text = "$",
                        Value = "$"

                    });
                    listItems1.Add(new SelectListItem
                    {
                        Text = "GBP",
                        Value = "GBP"
                    });
                    listItems1.Add(new SelectListItem
                    {
                        Text = "EU",
                        Value = "EU"
                    });
                }
                <div>
                    @Html.LabelFor(model => model.CostCurrency, "Cost Currency", new { @class = "required" })
                </div>
                <div>
                    @Html.DropDownListFor(model => model.CostCurrency, listItems1, "Select Currency", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CostCurrency, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Quantity, new { @class = "required" })
                </div>
                     <div>
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.SizeRange, "Size Range", new { @class = "required" })
                </div>
                     <div>
                        @Html.EditorFor(model => model.SizeRange, new { htmlAttributes = new { @class = "form-control", @id = "sizeRange", @readonly = true } })
                        @Html.ValidationMessageFor(model => model.SizeRange, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.FabricDescription, "Fabrication Description", new { @class = "required" })
                </div>
                     <div>
                        @Html.EditorFor(model => model.FabricDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FabricDescription, "", new { @class = "text-danger" })
                    </div>
            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            <section class="box ">
                <h4>Accessories Cost</h4>
                <div class="row">
                    <table id="myTable1" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Sequece</th>
                                <th>Unit</th>
                                <th>Con/Doz</th>
                                <th>Price</th>
                                <th>Cost/Doz</th>
                                <th>Cost/Pc</th>
                                <th>Total Cost</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="code" name="Code" placeholder="Code" />
                                </th>
                                <th>
                                    <input type="hidden" class="form-control" style="width:100%" id="productId" name="ProductId" />
                                    <input type="text" class="form-control" style="width:100%" id="productName" name="ProductName" placeholder="Accessories Name"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="sequence" name="Sequence" placeholder="Sequence" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="unit" name="Unit" placeholder="Unit" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="conDoz" name="ConDoz" placeholder="Con/Doz" onchange="CalculateTotalAccesoriesCost()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="price" name="Price" placeholder="Price" onchange="CalculateTotalAccesoriesCost()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="costDoz" name="CostDoz" placeholder="Cost/Doz" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="costPc" name="CostPc" placeholder="Cost/Pc" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="totalCost" name="TotalCost" placeholder="Total Cost" />
                                </th>
                                <th>
                                    <button type="button" class="btn btn-primary" aria-expanded="false" onclick="addItem()">Add Item</button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        </div>
        <br />
        <hr />
        <div class="row">
            <section class="box ">
                <h4>Fabric Cost</h4>
                <div class="row">
                    <table id="myTable2" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Fabric Name</th>
                                <th>Sequece</th>
                                <th>Unit</th>
                                <th>Yarn</th>
                                <th>Knittig</th>
                                <th>Dying</th>
                                <th>Lycre</th>
                                <th>AOP</th>
                                <th>Wash</th>
                                <th>Y/D</th>
                                <th>Finish</th>
                                <th>Brash</th>
                                <th>Fabric Cost</th>
                                <th>Con/Doz</th>
                                <th>Con/Pc</th>
                                <th>Val/Pc</th>
                                <th>Val/Doz</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="code1" name="Code" placeholder="Code" />
                                </th>
                                <th>
                                    <input type="hidden" class="form-control" style="width:100%" id="fabricId" name="FabricId" />
                                    <input type="text" class="form-control" style="width:100%" id="fabricName" name="FabricName" placeholder="Fabric Name" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="sequence1" name="Sequence" placeholder="Sequence" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="unit1" name="Unit" placeholder="Unit" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="yarn" name="Yarn" placeholder="Yarn" onchange="CalculateTotalFabricCost()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="knitting" name="Knitting" placeholder="Knitting" onchange="CalculateTotalFabricCost()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="dying" name="Dying" placeholder="Dying" onchange="CalculateTotalFabricCost()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="lycra" name="Lycra" placeholder="Lycra" onchange="CalculateTotalFabricCost()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="aop" name="AOP" placeholder="AOP" onchange="CalculateTotalFabricCost()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="wash" name="Wash" placeholder="Wash" onchange="CalculateTotalFabricCost()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="yd" name="YD" placeholder="Y/D" onchange="CalculateTotalFabricCost()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="finish" name="Finish" placeholder="Finish" onchange="CalculateTotalFabricCost()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="brash" name="Brash" placeholder="Brash" onchange="CalculateTotalFabricCost()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="fabricCost" name="FabriCost" placeholder="Fabric Cost" onchange="ClaculateValDoz()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="condoz" name="ConDoz" placeholder="Con/Doz" onchange="CalculateConPc()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="conPc" name="ConPc" placeholder="Con/Pc" onchange="CalculateValDoz()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="valPc" name="ValPc" placeholder="Val/Pc" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="valDoz" name="ValDoz" placeholder="Val/Doz" />
                                </th>
                                <th>
                                    <button type="button" class="btn btn-primary" aria-expanded="false" onclick="addFabric()">Add Item</button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        </div>
        <br />
        <hr />
        <div class="row">
            <section class="box ">
                <h4>Step Cost</h4>
                <div class="row">
                    <table id="myTable3" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Step Name</th>
                                <th>Remarks</th>
                                <th>Cost/Pc</th>
                                <th>Cost/Doz</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="stepName" name="StepName" placeholder="Step Name" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="remarks" name="Remarks" placeholder="Remarks" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="costpc" name="CostPc" placeholder="Cost/Pc" onchange="CalculateCostDoz()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="costdoz" name="CostDoz" placeholder="Cost/Doz" />
                                </th>
                                <th>
                                    <button type="button" class="btn btn-primary" aria-expanded="false" onclick="addStepCost()">Add Item</button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        </div>
        <br />
        <div class="row">
            <div class="col-md-offset-8">
                <div class="text-right">
                    Total Fabric Cost: $
                    <input type="text" style="width:40%" id="totalFabricCost" name="TotalFabricCost" />
                    <br /><br />
                    Total Accessories Cost: $
                    <input type="text" style="width:40%" id="totalAccessoriesCost" name="TotalAccessoriesCost" />
                    <br /><br />
                    Other Cost: $
                    <input type="text" style="width:40%" id="otherCost" name="OtherCost" />
                    <br /><br />
                    FOB Price(Pcs): $
                    <input type="text" style="width:40%" id="fobCost" name="FOBCost" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-default" id="submitBtn" disabled />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
