﻿@model ORMS.Models.PreCostSheet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PreCostSheet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Buyer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buyer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KnittingType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KnittingType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marchendiser.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marchendiser.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Style.Knit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Style.Knit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StyleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StyleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FabricDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FabricDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostCurrency)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
