﻿@model ORMS.Models.PreCostSheet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PreCostSheet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Buyer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buyer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KnittingType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KnittingType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marchendiser.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marchendiser.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Style.Knit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Style.Knit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StyleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StyleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FabricDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FabricDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostCurrency)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
