﻿@model ORMS.Models.PreCostSheet

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript">
    $("#styleNo").autocomplete({
    source: function(request, response) {
        $.ajax({
            url: "/Styles/GetExistingStyles",
            type: "POST",
            dataType: "json",
            data: { StyleNo: $("#styleNo").val() },
            success: function (data) {
                response($.map(data, function (item) {
                    return {
                        label: item.StyleNo + " (" + item.Buyer.Name + ")", styleId: item.Id, styleNo: item.StyleNo,
                        buyerId: item.BuyerId, buyerName: item.Buyer.Name, knittingTypeId: item.KnittingTypeId, knittingTypeName: item.KnittingType.Name,
                        gsm: item.GSM, colorRange: item.ColorRange, sizeRange: item.SizeRange, styleDescription: item.StyleDescription
                    };
                }));
            }
        });
    },
    select: function (event, ui) {
        $("#styleId").val(ui.item.styleId);
        $('#styleNo').val(ui.item.styleNo);
        $("#buyerId").val(ui.item.buyerId);
        $('#buyerName').val(ui.item.buyerName);
        $('#knittingTypeId').val(ui.item.knittingTypeId);
        $('#knittingTypeName').val(ui.item.knittingTypeName);
        $('#gsm').val(ui.item.gsm);
        $('#colorRange').val(ui.item.colorRange);
        $('#sizeRange').val(ui.item.sizeRange);
        $('#styleDescription').val(ui.item.styleDescription);
        return false;
    }
    });

    $("#marchandiserName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Marchendisers/GetExistingMarchendisers",
                type: "POST",
                dataType: "json",
                data: { MarchendiserName: $("#marchandiserName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name + " (" + item.Email + ")" + " (" + item.Mobile + ")", id: item.Id, name: item.Name };
                    }));
                }
            });
        },
        select: function (event, ui) {
            $("#marchandiserId").val(ui.item.id);
            $('#marchandiserName').val(ui.item.name);
            return false;
        }
    });
    </script>
}
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PreCostSheet</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.StyleId, "StyleId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" id="styleId" name="StyleId" value="@Model.StyleId"/>
                <input type="text" class="form-control" id="styleNo" name="StyleNo" placeholder="Style No"  value="@Model.Style.StyleNo"/>
                @*@Html.DropDownList("StyleId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.StyleId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FileNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FileNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FileNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CostingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CostingDate, new { htmlAttributes = new { @class = "form-control", @type="DateTime" } })
                @Html.ValidationMessageFor(model => model.CostingDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BuyerId, "BuyerId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" id="buyerId" name="BuyerId"  value="@Model.BuyerId"/>
                <input type="text" class="form-control" id="buyerName" name="BuyerName" placeholder="Buyer Name"  value="@Model.Buyer.Name" readonly />
                @*@Html.DropDownList("BuyerId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.BuyerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KnittingTypeId, "KnittingTypeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" id="knittingTypeId" name="KnittingTypeId"  value="@Model.KnittingTypeId"/>
                <input type="text" class="form-control" id="knittingTypeName" name="KnittingTypeName" placeholder="Knitting Type Name"  value="@Model.KnittingType.Name" readonly />
                @*@Html.DropDownList("KnittingTypeId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.KnittingTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GSM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GSM, new { htmlAttributes = new { @class = "form-control", @id = "gsm", @readonly = true } })
                @Html.ValidationMessageFor(model => model.GSM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ColorRange, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ColorRange, new { htmlAttributes = new { @class = "form-control", @id = "colorRange", @readonly = true } })
                @Html.ValidationMessageFor(model => model.ColorRange, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SizeRange, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SizeRange, new { htmlAttributes = new { @class = "form-control", @id = "sizeRange", @readonly = true } })
                @Html.ValidationMessageFor(model => model.SizeRange, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StyleDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StyleDescription, new { htmlAttributes = new { @class = "form-control", @id = "styleDescription" } })
                @Html.ValidationMessageFor(model => model.StyleDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MarchendiserId, "MarchendiserId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" id="marchandiserId" name="MarchendiserId"  value="@Model.MarchendiserId"/>
                <input type="text" class="form-control" id="marchandiserName" name="MarchandiserName" placeholder="Marchandiser Name"  value="@Model.Marchendiser.Name"/>
                @*@Html.DropDownList("MarchendiserId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.MarchendiserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FabricDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FabricDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FabricDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        @{
            List<SelectListItem> listItems1 = new List<SelectListItem>();
            listItems1.Add(new SelectListItem
            {
                Text = "TK",
                Value = "TK",
            });
            listItems1.Add(new SelectListItem
            {
                Text = "$",
                Value = "$"

            });
            listItems1.Add(new SelectListItem
            {
                Text = "GBP",
                Value = "GBP"
            });
            listItems1.Add(new SelectListItem
            {
                Text = "EU",
                Value = "EU"
            });
        }
        <div class="form-group">
            @Html.LabelFor(model => model.CostCurrency, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CostCurrency, listItems1, "Select Currency", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CostCurrency, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
            }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
