﻿@model IEnumerable<ORMS.Models.PreCostSheet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<div class="col-md-12 col-sm-12 col-xs-12">
    @{int rowNo = 0;}
    <table id="myTable" class="table table-striped dt-responsive display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>SL</th>
                <th>
                    Accesories Cost Details
                </th>
                <th>
                    Fabric Cost Details
                </th>
                <th>
                    Other Cost Details
                </th>
                <th>
                    Total Cost
                </th>
                <th>
                    Buyer Name
                </th>
                <th>
                    Knitting Type
                </th>
                <th>
                   Marchendiser Name
                </th>
                <th>
                    Knit
                </th>
                <th>
                    File Number
                </th>
                <th>
                    Costing Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GSM)
                </th>
                <th>
                    Color Range
                </th>
                <th>
                    Size Range
                </th>
                <th>
                    Style Description
                </th>
                <th>
                    Fabric Description
                </th>
                <th>
                    Cost Currency
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>SL</th>
                <th>
                    Accesories Cost Details
                </th>
                <th>
                    Fabric Cost Details
                </th>
                <th>
                    Other Cost Details
                </th>
                <th>
                    Total Cost
                </th>
                <th>
                    Buyer Name
                </th>
                <th>
                    Knitting Type
                </th>
                <th>
                    Marchendiser Name
                </th>
                <th>
                    Knit
                </th>
                <th>
                    File Number
                </th>
                <th>
                    Costing Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GSM)
                </th>
                <th>
                    Color Range
                </th>
                <th>
                    Size Range
                </th>
                <th>
                    Style Description
                </th>
                <th>
                    Fabric Description
                </th>
                <th>
                    Cost Currency
                </th>
                <th>Options</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center" width="5%">
                        @(rowNo += 1)
                    </td>
                    <td align="center" width="8%">
                        <button type="button" class="btn btn-default btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Accessories", new { id = item.Id })'">Accesories Cost Details</button>
                    </td>
                    <td align="center" width="8%">
                        <button type="button" class="btn btn-default btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "FabricCosts", new { id = item.Id })'">Fabric Cost Details</button>
                    </td>
                    <td align="center" width="8%">
                        <button type="button" class="btn btn-default btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "StepCosts", new { id = item.Id })'">Other Cost Details</button>
                    </td>
                    <td align="center" width="8%">
                        <button type="button" class="btn btn-default btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Totals", new { id = item.Id })'">Total Cost</button>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Buyer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KnittingType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marchendiser.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Style.Knit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GSM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ColorRange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SizeRange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StyleDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FabricDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostCurrency)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section content
{
    @Styles.Render("~/Content/dataTable")
}
@section scripts
{
    @Scripts.Render("~/bundles/dataTable")
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'processing': true
            });
        });
    </script>
}

