﻿
@{
    ViewBag.Title = "PreCostSheetByDateRange";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var AccessoriesList = (List<ORMS.Models.Accessories>)Session["AccessoriesList"];
    var FabricCostList = (List<ORMS.Models.FabricCost>)Session["FabricCostList"];
    var StepCostList = (List<ORMS.Models.StepCost>)Session["StepCostList"];
    var TotalList = (List<ORMS.Models.Total>)Session["TotalList"];
}
<br />
<h2>Pre Cost Sheet By Date Range</h2>
<br />
@using (Html.BeginForm("PreCostSheetByDateRangeView", "PreCostSheets"))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="controls">
                    <input type="date" id="from_date" name="FromDate" placeholder="From Date" class="form-control datepicker" data-start-view="2" required>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="controls">
                    <input type="date" id="to_date" name="ToDate" placeholder="To Date" class="form-control datepicker" data-start-view="2" required>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
    <hr />
    <div class="content-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive" data-pattern="priority-columns">
                    @if (Model.Count > 0)
                    {
                        <div class="btn-group">
                            @using (Html.BeginForm("PrintPreCostSheetByDateRange", "PreCostSheets", FormMethod.Post, new { @target = "_blank", @role = "form", @enctype = "multipart/form-data" }))
                            {
                                <button type="button" onclick="location.href='@Url.Action("PrintPreCostSheetByDateRange", "PreCostSheets")'" target="_blank" class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-print"></span> Print
                                </button>
                            }
                        </div>

                        <div>
                            @foreach (var item in Model)
                            {
                                <hr />
                                <h4>Pre Cost Sheet ID: @item.Id</h4>
                                <h4>File Number: @item.FileNumber</h4>
                                <h4>Style No: @item.Style.StyleNo</h4>
                                <h4>Costing Date: @item.CostingDate</h4>
                                {
                                    <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th data-priority="1" style="text-align:center">Code</th>
                                                <th data-priority="1" style="text-align:center">Product</th>
                                                <th data-priority="1" style="text-align:center">Sequence</th>
                                                <th data-priority="1" style="text-align:center">Unit</th>
                                                <th data-priority="1" style="text-align:center">ConDOz</th>
                                                <th data-priority="1" style="text-align:center">Price</th>
                                                <th data-priority="1" style="text-align:center">CostDoz</th>
                                                <th data-priority="1" style="text-align:center">CostPc</th>
                                                <th data-priority="1" style="text-align:center">TotalCost</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var itm in AccessoriesList)
                                            {
                                                if (itm.PreCostId == item.Id)
                                                {
                                                    <tr>
                                                        <td align="center">@itm.Code</td>
                                                        <td align="center">@itm.Product.Name</td>
                                                        <td align="center">@itm.Sequence</td>
                                                        <td align="center">@itm.Unit</td>
                                                        <td align="center">@itm.ConDOz</td>
                                                        <td align="center">@itm.Price</td>
                                                        <td align="center">@itm.CostDoz</td>
                                                        <td align="center">@itm.CostPc</td>
                                                        <td align="center">@itm.TotalCost</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                    <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th data-priority="1" style="text-align:center">Code</th>
                                                <th data-priority="1" style="text-align:center">Fabric</th>
                                                <th data-priority="1" style="text-align:center">Sequence</th>
                                                <th data-priority="1" style="text-align:center">Unit</th>
                                                <th data-priority="1" style="text-align:center">Yarn</th>
                                                <th data-priority="1" style="text-align:center">Knitting</th>
                                                <th data-priority="1" style="text-align:center">Dying</th>
                                                <th data-priority="1" style="text-align:center">Lycra</th>
                                                <th data-priority="1" style="text-align:center">AOP</th>
                                                <th data-priority="1" style="text-align:center">Wash</th>
                                                <th data-priority="1" style="text-align:center">YD</th>
                                                <th data-priority="1" style="text-align:center">Finish</th>
                                                <th data-priority="1" style="text-align:center">Brash</th>
                                                <th data-priority="1" style="text-align:center">Fabriccost</th>
                                                <th data-priority="1" style="text-align:center">ConDoz</th>
                                                <th data-priority="1" style="text-align:center">ConPc</th>
                                                <th data-priority="1" style="text-align:center">ValPc</th>
                                                <th data-priority="1" style="text-align:center">ValDoz</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var itm in FabricCostList)
                                            {
                                                if (itm.PreCostId == item.Id)
                                                {
                                                    <tr>
                                                        <td align="center">@itm.Code</td>
                                                        <td align="center">@itm.Fabric.Name</td>
                                                        <td align="center">@itm.Sequence</td>
                                                        <td align="center">@itm.Unit</td>
                                                        <td align="center">@itm.Yarn</td>
                                                        <td align="center">@itm.Knitting</td>
                                                        <td align="center">@itm.Dying</td>
                                                        <td align="center">@itm.Lycra</td>
                                                        <td align="center">@itm.AOP</td>
                                                        <td align="center">@itm.Wash</td>
                                                        <td align="center">@itm.YD</td>
                                                        <td align="center">@itm.Finish</td>
                                                        <td align="center">@itm.Brash</td>
                                                        <td align="center">@itm.Fabriccost</td>
                                                        <td align="center">@itm.ConDoz</td>
                                                        <td align="center">@itm.ConPc</td>
                                                        <td align="center">@itm.ValPc</td>
                                                        <td align="center">@itm.ValDoz</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                    <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th data-priority="1" style="text-align:center">StepName</th>
                                                <th data-priority="1" style="text-align:center">Remarks</th>
                                                <th data-priority="1" style="text-align:center">CostPc</th>
                                                <th data-priority="1" style="text-align:center">CostDoz</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var itm in StepCostList)
                                            {
                                                if (itm.PreCostId == item.Id)
                                                {
                                                    <tr>
                                                        <td align="center">@itm.StepName</td>
                                                        <td align="center">@itm.Remarks</td>
                                                        <td align="center">@itm.CostPc</td>
                                                        <td align="center">@itm.CostDoz</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                    <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th data-priority="1" style="text-align:center">TotalAccesoriesCost</th>
                                                <th data-priority="1" style="text-align:center">TotalFabricCost</th>
                                                <th data-priority="1" style="text-align:center">OtherCost</th>
                                                <th data-priority="1" style="text-align:center">FOBCost</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var itm in TotalList)
                                            {
                                                if (itm.PreCostId == item.Id)
                                                {
                                                    <tr>
                                                        <td align="center">@itm.TotalAccesoriesCost</td>
                                                        <td align="center">@itm.TotalFabricCost</td>
                                                        <td align="center">@itm.OtherCost</td>
                                                        <td align="center">@itm.FOBCost</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>                        
                    }
                </div>
            </div>
        </div>
    </div>
}

