﻿@model IEnumerable<ORMS.Models.PreCostSheet>
@{
    ViewBag.Title = "PrintPreCostSheetByDateRange";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var AccessoriesList = (List<ORMS.Models.Accessories>)Session["AccessoriesList"];
    var FabricCostList = (List<ORMS.Models.FabricCost>)Session["FabricCostList"];
    var StepCostList = (List<ORMS.Models.StepCost>)Session["StepCostList"];
    var TotalList = (List<ORMS.Models.Total>)Session["TotalList"];
}

<script src="~/Content/jquery-1.11.2.min.js" type="text/javascript"></script>
<head>
    <meta charset="utf-8">
    <title>Pre Cost Sheet</title>
    <link rel="stylesheet" href="style.css" media="all" />
</head>

<header class="clearfix">
    <h1>Pre Cost Sheet List</h1>
</header>


<body>
    <main>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive" data-pattern="priority-columns">
                            <div>
                                @foreach (var item in Model)
                                {
                                    <hr />
                                    <h4>Pre Cost Sheet ID: @item.Id</h4>
                                    <h4>File Number: @item.FileNumber</h4>
                                    <h4>Style No: @item.Style.StyleNo</h4>
                                    <h4>Costing Date: @item.CostingDate</h4>
                                    {
                                        <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th data-priority="1" style="text-align:center">Code</th>
                                                    <th data-priority="1" style="text-align:center">Product</th>
                                                    <th data-priority="1" style="text-align:center">Sequence</th>
                                                    <th data-priority="1" style="text-align:center">Unit</th>
                                                    <th data-priority="1" style="text-align:center">ConDOz</th>
                                                    <th data-priority="1" style="text-align:center">Price</th>
                                                    <th data-priority="1" style="text-align:center">CostDoz</th>
                                                    <th data-priority="1" style="text-align:center">CostPc</th>
                                                    <th data-priority="1" style="text-align:center">TotalCost</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var itm in AccessoriesList)
                                                {
                                                    if (itm.PreCostId == item.Id)
                                                    {
                                                        <tr>
                                                            <td align="center">@itm.Code</td>
                                                            <td align="center">@itm.Product.Name</td>
                                                            <td align="center">@itm.Sequence</td>
                                                            <td align="center">@itm.Unit</td>
                                                            <td align="center">@itm.ConDOz</td>
                                                            <td align="center">@itm.Price</td>
                                                            <td align="center">@itm.CostDoz</td>
                                                            <td align="center">@itm.CostPc</td>
                                                            <td align="center">@itm.TotalCost</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>

                                        <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th data-priority="1" style="text-align:center">Code</th>
                                                    <th data-priority="1" style="text-align:center">Fabric</th>
                                                    <th data-priority="1" style="text-align:center">Sequence</th>
                                                    <th data-priority="1" style="text-align:center">Unit</th>
                                                    <th data-priority="1" style="text-align:center">Yarn</th>
                                                    <th data-priority="1" style="text-align:center">Knitting</th>
                                                    <th data-priority="1" style="text-align:center">Dying</th>
                                                    <th data-priority="1" style="text-align:center">Lycra</th>
                                                    <th data-priority="1" style="text-align:center">AOP</th>
                                                    <th data-priority="1" style="text-align:center">Wash</th>
                                                    <th data-priority="1" style="text-align:center">YD</th>
                                                    <th data-priority="1" style="text-align:center">Finish</th>
                                                    <th data-priority="1" style="text-align:center">Brash</th>
                                                    <th data-priority="1" style="text-align:center">Fabriccost</th>
                                                    <th data-priority="1" style="text-align:center">ConDoz</th>
                                                    <th data-priority="1" style="text-align:center">ConPc</th>
                                                    <th data-priority="1" style="text-align:center">ValPc</th>
                                                    <th data-priority="1" style="text-align:center">ValDoz</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var itm in FabricCostList)
                                                {
                                                    if (itm.PreCostId == item.Id)
                                                    {
                                                        <tr>
                                                            <td align="center">@itm.Code</td>
                                                            <td align="center">@itm.Fabric.Name</td>
                                                            <td align="center">@itm.Sequence</td>
                                                            <td align="center">@itm.Unit</td>
                                                            <td align="center">@itm.Yarn</td>
                                                            <td align="center">@itm.Knitting</td>
                                                            <td align="center">@itm.Dying</td>
                                                            <td align="center">@itm.Lycra</td>
                                                            <td align="center">@itm.AOP</td>
                                                            <td align="center">@itm.Wash</td>
                                                            <td align="center">@itm.YD</td>
                                                            <td align="center">@itm.Finish</td>
                                                            <td align="center">@itm.Brash</td>
                                                            <td align="center">@itm.Fabriccost</td>
                                                            <td align="center">@itm.ConDoz</td>
                                                            <td align="center">@itm.ConPc</td>
                                                            <td align="center">@itm.ValPc</td>
                                                            <td align="center">@itm.ValDoz</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>

                                        <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th data-priority="1" style="text-align:center">StepName</th>
                                                    <th data-priority="1" style="text-align:center">Remarks</th>
                                                    <th data-priority="1" style="text-align:center">CostPc</th>
                                                    <th data-priority="1" style="text-align:center">CostDoz</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var itm in StepCostList)
                                                {
                                                    if (itm.PreCostId == item.Id)
                                                    {
                                                        <tr>
                                                            <td align="center">@itm.StepName</td>
                                                            <td align="center">@itm.Remarks</td>
                                                            <td align="center">@itm.CostPc</td>
                                                            <td align="center">@itm.CostDoz</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>

                                        <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th data-priority="1" style="text-align:center">TotalAccesoriesCost</th>
                                                    <th data-priority="1" style="text-align:center">TotalFabricCost</th>
                                                    <th data-priority="1" style="text-align:center">OtherCost</th>
                                                    <th data-priority="1" style="text-align:center">FOBCost</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var itm in TotalList)
                                                {
                                                    if (itm.PreCostId == item.Id)
                                                    {
                                                        <tr>
                                                            <td align="center">@itm.TotalAccesoriesCost</td>
                                                            <td align="center">@itm.TotalFabricCost</td>
                                                            <td align="center">@itm.OtherCost</td>
                                                            <td align="center">@itm.FOBCost</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                }
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="notices">
            <div>Pre Cost Sheet Information</div>
            <div class="notice">This is date wise record of your pre cost sheet information</div>
        </div>
    </main>
</body>
<footer style="margin-top:20%">
    <p class="text-center">Copyrights &#169; 2018 Sukla. All Rights Reserved.</p>
</footer>



<style>
    .square {
        border-radius: 4px;
        background: #228B22;
        width: 60%;
        height: 10%;
        text-align: center;
        margin-left: 25%;
        font-size: 30px;
    }

        .square b {
            color: #fff;
            text-align: center;
        }

    .square2 {
        border-radius: 4px;
        background: #ff0000;
        width: 60%;
        height: 10%;
        text-align: center;
        margin-left: 25%;
        font-size: 25px;
    }

        .square2 b {
            color: #fff;
            text-align: center;
        }

    .square3 {
        border-radius: 4px;
        background: #002366;
        width: 110%;
        height: 10%;
        text-align: center;
        font-size: 25px;
        margin-left: 15%;
    }

        .square3 b {
            color: #fff;
            text-align: center;
        }


    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    a {
        color: #5D6975;
        text-decoration: underline;
    }

    body {
        position: relative;
        width: 21cm;
        margin: 0 auto;
        color: #001028;
        background: #FFFFFF;
        font-family: Arial, sans-serif;
        font-size: 12px;
    }

    header {
        padding: 10px 0;
    }

    #logo {
        text-align: center;
        margin-bottom: 10px;
    }

        #logo img {
            width: 100%;
        }

    h1 {
        border-top: 1px solid #5D6975;
        border-bottom: 1px solid #5D6975;
        color: #5D6975;
        font-size: 2.4em;
        line-height: 1.4em;
        font-weight: normal;
        text-align: center;
        margin: 0 0 20px 0;
        background: url(dimension.png);
    }

    #project {
        float: left;
    }

        #project span {
            color: #5D6975;
            text-align: right;
            width: 52px;
            margin-right: 10px;
            display: inline-block;
            font-size: 0.8em;
        }

    #company {
        float: right;
        text-align: right;
    }

    #status {
        margin-top: 3%;
    }


    #project div,
    #company div {
        white-space: nowrap;
        font-size: 12px;
    }

    table {
        width: 50%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
    }

        table tr:nth-child(2n-1) td {
            background: #F5F5F5;
        }

        table th,
        table td {
            text-align: center;
        }

        table th {
            padding: 5px 20px;
            color: #5D6975;
            border-bottom: 1px solid #C1CED9;
            white-space: nowrap;
            font-weight: normal;
        }

        table .service,
        table .desc {
            text-align: left;
        }

        table td {
            padding: 20px;
            text-align: center;
        }

            table td.service,
            table td.desc {
                vertical-align: top;
            }

            table td.unit,
            table td.qty,
            table td.total {
                font-size: 1.2em;
            }

            table td.grand {
                border-top: 1px solid #5D6975;
            }

    #notices .notice {
        color: #5D6975;
        font-size: 1.2em;
    }
</style>