﻿@model ORMS.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.Name, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Code, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Mobile, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                </div>
                <br />
                @{
                    List<SelectListItem> listItems1 = new List<SelectListItem>();
                    listItems1.Add(new SelectListItem
                    {
                        Text = "Admin",
                        Value = "Admin",
                    });
                    listItems1.Add(new SelectListItem
                    {
                        Text = "Employee",
                        Value = "Employee"

                    });
                }
                <div>
                    @Html.LabelFor(model => model.UserType, new { @class = "required" })
                </div>
                <div>
                    @Html.DropDownListFor(model => model.UserType, listItems1,"--Select--", htmlAttributes : new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.FathersName, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.FathersName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FathersName, "", new { @class = "text-danger" })
                </div>
                <br />
                @{
                    List<SelectListItem> listItems2 = new List<SelectListItem>();
                    listItems2.Add(new SelectListItem
                    {
                        Text = "Male",
                        Value = "Male",
                    });
                    listItems2.Add(new SelectListItem
                    {
                        Text = "Female",
                        Value = "Female"

                    });
                    listItems2.Add(new SelectListItem
                    {
                        Text = "Others",
                        Value = "Others"

                    });
                }
                <div>
                    @Html.LabelFor(model => model.Gender, new { @class = "required" })
                </div>
                <div>
                    @Html.DropDownListFor(model => model.Gender, listItems2,"--Select--", htmlAttributes : new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Email, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.MothersName, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.MothersName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MothersName, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Address, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Password, new { @class = "required" })
                </div>
                <div>
                    @Html.PasswordFor(model => model.Password, htmlAttributes : new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
        <br />
        <div class="row">
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

