﻿@model ORMS.Models.OrderRecap

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript">

    $("#merchandiserName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Marchendisers/GetExistingMarchendisers",
                type: "POST",
                dataType: "json",
                data: { MarchendiserName: $("#merchandiserName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name + ", Email:" + item.Email +", Mobile:" + item.Mobile, id: item.Id, name: item.Name };
                    }));
                }
            });
        },
        select: function (event, ui) {
            $("#merchandiserId").val(ui.item.id);
            $('#merchandiserName').val(ui.item.name);
            return false;
        }
    });

    $("#styleNo").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Styles/GetExistingStyles",
                type: "POST",
                dataType: "json",
                data: { StyleNo: $("#styleNo").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.StyleNo + ", Buyer Name:" + item.Buyer.Name , styleId: item.Id, styleNo: item.StyleNo,
                            buyerId: item.BuyerId, buyerName: item.Buyer.Name, contactPerson: item.Buyer.ContactPerson.Name, contactPersonId: item.Buyer.ContactPersonId
                        };
                    }));
                }
            });
        },
        select: function (event, ui) {
            $("#styleId").val(ui.item.styleId);
            $('#styleNo').val(ui.item.styleNo);
            $("#buyerId").val(ui.item.buyerId);
            $('#buyerName').val(ui.item.buyerName);
            $('#contactPersonName').val(ui.item.contactPerson);
            $('#contactPersonId').val(ui.item.contactPersonId);
            return false;
        }
    });
    function calculateTotal()
    {
        if($("#unitprice").val() != "" && $("#quantity").val() != "")
        {
            var qty = $("#quantity").val();
            var uprice = $("#quantity").val();
            var total = qty * uprice;
            $('#totalcost').val(total);
        }
    }

    function ColorBreakdown() {
        if ($('#styleId').val() != "") {
            $.ajax({
                url: '/OrderRecaps/GetExistingColors',
                method: 'POST',
                data: {
                    StyleId: $('#styleId').val(),
                },
                cache: false,
                error: function () {
                    alert("An error occoured!");
                },
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {
                        $('#colorRange').append($('<option>', {
                            value: response[i].Id,
                            text: response[i].Name
                        }));
                    }
                    SizeBreakdown();
                }
            });
        }
        else {
            alert('Must have to enter style no!');
        }
    }

    function SizeBreakdown() {
        if ($('#styleId').val() != "") {
            $.ajax({
                url: '/OrderRecaps/GetExistingSizes',
                method: 'POST',
                data: {
                    StyleId: $('#styleId').val(),
                },
                cache: false,
                error: function () {
                    alert("An error occoured!");
                },
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {
                        $('#sizeRange').append($('<option>', {
                            value: response[i].Id,
                            text: response[i].Name
                        }));
                    }
                }
            });
        }
        else {
            alert('Must have to enter style no!');
        }
    }

    $("#productionFactoryName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/OrderRecaps/GetExistingProductionFactories",
                type: "POST",
                dataType: "json",
                data: { ProductionFactoryName: $("#productionFactoryName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name + ", Email:" + item.Email + ", ShortName:" + item.ShortName, id: item.Id, name: item.Name };
                    }));
                }
            });
        },
        select: function (event, ui) {
            $("#productionFactoryId").val(ui.item.id);
            $('#productionFactoryName').val(ui.item.name);
            return false;
        }
    });

    function addItem() {
        if ($('#colorRange').val() != "" && $('#sizeRange').val() != "") {
            $.ajax({
                url: '/OrderRecaps/GetSelectedItems',
                method: 'POST',
                data: {
                    ColorRange: $('#colorRange').val(),
                    SizeRange: $('#sizeRange').val(),
                    UnitPrice: $('#unitprice').val(),
                    StyleId: $('#styleId').val(),
                    Quantity: $('#quantity').val(),
                    TotalCost: $('#totalcost').val(),

                },
                cache: false,
                error: function () {
                    alert("An error occoured!");
                },
                success: function (response) {
                    $('#myTable tbody').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#myTable').find('tbody').append("<tr>" +
                                                        "<td>" +
                                                             "<label class = \"form-control\" style = \"width:100%\">" + response[i].ColorRange.Name + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].SizeRange.Name + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].UnitPrice + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Quantity + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].TotalCost + "</label>" +
                                                        "</td>" +
                                                        "<td class=\"action\">" +
                                                            "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFromList(" + response[i].Id + ")\">Remove</button>" +
                                                        "</td></tr>")
                    }
                    $('#colorRange').select('Select');
                    $('#sizeRange').select('Select');
                    $('#unitprice').val('');
                    $('#quantity').val('');
                    $('#totalcost').val('');
                    document.getElementById("submitBtn").removeAttribute("disabled");
                }
            });
        }
        else {
            alert('Must have to enter color and size name!');
        }
    }
    function deleteFromList(detailsId) {
        $.ajax({
            url: '/OrderRecaps/DeleteFromList',
            method: 'POST',
            data: {
                DetailsId: detailsId,
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#myTable tbody').empty();
                for (var i = 0; i < response.length; i++) {
                    $('#myTable').find('tbody').append("<tr>" +
                                                    "<td>" +
                                                         "<label class = \"form-control\" style = \"width:100%\">" + response[i].ColorRange.Name + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].SizeRange.Name + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].UnitPrice + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Quantity + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].TotalCost + "</label>" +
                                                        "</td>" +
                                                    "<td class=\"action\">" +
                                                        "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFromList(" + response[i].Id + ")\">Remove</button>" +
                                                    "</td></tr>")
                }
                if (response.length == 0) {
                    document.getElementById("submitBtn").setAttribute("disabled", true);
                }
            }
        });
    }
    </script>
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>OrderRecap</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.StyleId, "Style", new { @class = "required" })
                </div>
                <div>
                    <input type="hidden" id="styleId" name="StyleId" />
                    <input type="text" class="form-control" id="styleNo" name="StyleNo" placeholder="Style No" onchange="ColorBreakdown()"/>
                    @*@Html.DropDownList("StyleId", null, "Select", htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.StyleId, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Sl, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Sl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sl, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Count, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.ShipmetDate, "Shipment Date", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.ShipmetDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShipmetDate, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.MarchendiserId, "Marchendiser", new { @class = "required" })
                </div>
                <div>
                    <input type="hidden" id="merchandiserId" name="MarchendiserId" />
                    <input type="text" class="form-control" id="merchandiserName" name="MarchendiserName" placeholder="Merchandiser Name" />
                    @*@Html.DropDownList("MarchendiserId", null,"Select", htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.MarchendiserId, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.DeliveryTerm, "Delivery Term", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.DeliveryTerm, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DeliveryTerm, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Remarks, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.OrderNo, "Order No", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.OrderNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OrderNo, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.ProductId, "Product", new { @class = "required" })
                </div>
                <div>
                    @Html.DropDownList("ProductId", null, "Select", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.GSM, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.GSM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GSM, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.FatoryShipmentDate, "Factory Shipment Date", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.FatoryShipmentDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FatoryShipmentDate, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Currency, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Currency, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Incoterm, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Incoterm, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Incoterm, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Fabrcation, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Fabrcation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fabrcation, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.Session, new { @class = "required" })
                    <div>
                        @Html.EditorFor(model => model.Session, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.BuyerId, "Buyer", new { @class = "required" })
                </div>
                <div>
                    <input type="hidden" id="buyerId" name="BuyerId" />
                    <input type="text" class="form-control" id="buyerName" name="BuyerName" placeholder="Buyer Name" readonly/>
                    @* @Html.DropDownList("BuyerId", null,"Select", htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.BuyerId, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.ContactPersonId, "ContactPerson", new { @class = "required" })
                </div>
                <div>
                    <input type="hidden" id="contactPersonId" name="ContactPersonId" />
                    <input type="text" class="form-control" id="contactPersonName" name="ContactPersonName" placeholder="Contact Person Name" readonly />
                    @*@Html.DropDownList("ContactPersonId", null,"Select", htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.ContactPersonId, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.OrderDate, "Order Date", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.TransportType, "Transport Type", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.TransportType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TransportType, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.ProductionFactoryId, "Production Factory", new { @class = "required" })
                </div>
                <div>
                    <input type="hidden" id="productionFactoryId" name="ProductionFactoryId" />
                    <input type="text" class="form-control" id="productionFactoryName" name="ProductionFactoryName" placeholder="Production Factory Name" />
                   @* @Html.DropDownList("ProductionFactoryId", null, "Select", htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.ProductionFactoryId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
            <br />
        <!--Size Breakdown-->
        <div class="row">
            <section class="box ">
                <h4>Size Breakdown</h4>
                <hr />
                <div class="row">
                    <table id="myTable" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Color</th>
                                <th>Size</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Total Cost</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <select id="colorRange" name="ColorRange" class="form-control" style="width:100%" >
                                        <option value="Select">Select Color</option>
                                    </select>
                                </th>
                                <th>
                                    <select id="sizeRange" name="SizeRange" class="form-control" style="width:100%" >
                                        <option value="Select">Select Size</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="unitprice" name="UnitPrice" placeholder="Unit Price" onchange="calculateTotal()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="quantity" name="Quantity" placeholder="Quantity" onchange="calculateTotal()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="totalcost" name="TotalCost" placeholder="Total Cost" />
                                </th>
                                <th>
                                    <button type="button" class="btn btn-primary" aria-expanded="false" onclick="addItem()">Add Item</button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        </div>
        <!--Size Breakdown-->
        <div class="row">
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-default" id="submitBtn" disabled />
            </div>
        </div>

        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
