﻿@model ORMS.Models.OrderRecap

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderRecap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Buyer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buyer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marchendiser.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marchendiser.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionFactory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionFactory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Style.StyleNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Style.StyleNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipmetDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipmetDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatoryShipmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatoryShipmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransportType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransportType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Incoterm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Incoterm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fabrcation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabrcation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
