﻿@model IEnumerable<ORMS.Models.OrderRecap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<div class="col-md-12 col-sm-12 col-xs-12">
    @{int rowNo = 0;}
    <table id="myTable" class="table table-striped dt-responsive display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>SL</th>
                <th>
                    Size BreakDown
                </th>
                <th>
                    Buyer Name
                </th>
                <th>
                    Contact Person
                </th>
                <th>
                    Marchendiser
                </th>
                <th>
                    Product
                </th>
                <th>
                    Production Factory
                </th>
                <th>
                    Style No
                </th>
                <th>
                   Order No
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Session)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GSM)
                </th>
                <th>
                    Order Date
                </th>
                <th>
                    Shipment Date
                </th>
                <th>
                    Factory Shipment Date
                </th>
                <th>
                    Transport Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Currency)
                </th>
                <th>
                    Delivery Term
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Incoterm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fabrcation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>SL</th>
                <th>
                    Size BreakDown
                </th>
                <th>
                    Buyer Name
                </th>
                <th>
                    Contact Person
                </th>
                <th>
                    Marchendiser
                </th>
                <th>
                    Product
                </th>
                <th>
                    Production Factory
                </th>
                <th>
                    Style No
                </th>
                <th>
                    Order No
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Session)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GSM)
                </th>
                <th>
                    Order Date
                </th>
                <th>
                    Shipment Date
                </th>
                <th>
                    Factory Shipment Date
                </th>
                <th>
                    Transport Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Currency)
                </th>
                <th>
                    Delivery Term
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Incoterm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fabrcation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
                <th>Options</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center" width="5%">
                        @(rowNo += 1)
                    </td>
                    <td align="center" width="8%">
                        <button type="button" class="btn btn-default btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "SizeBreakdowns", new { id = item.Id })'">BreakDown Details</button>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Buyer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactPerson.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marchendiser.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionFactory.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Style.StyleNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Session)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GSM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipmetDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FatoryShipmentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransportType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryTerm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Incoterm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fabrcation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section content
{
    @Styles.Render("~/Content/dataTable")
}
@section scripts
{
    @Scripts.Render("~/bundles/dataTable")
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'processing': true
            });
        });
    </script>
}
