﻿
@{
    ViewBag.Title = "OrderRecapByDateRange";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var SizeBreakdownList = (List<ORMS.Models.SizeBreakdown>)Session["SizeBreakdownList"];
}
<br />
<h2>Order Recap By Date Range</h2>
<br />
@using (Html.BeginForm("OrderRecapByDateRangeView", "OrderRecaps"))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="controls">
                    <input type="date" id="from_date" name="FromDate" placeholder="From Date" class="form-control datepicker" data-start-view="2" required>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="controls">
                    <input type="date" id="to_date" name="ToDate" placeholder="To Date" class="form-control datepicker" data-start-view="2" required>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
    <hr />
    <div class="content-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive" data-pattern="priority-columns">
                    @if (Model.Count > 0)
                    {
                        <div class="btn-group">
                            @using (Html.BeginForm("PrintOrderRecapByDateRange", "OrderRecaps", FormMethod.Post, new { @target = "_blank", @role = "form", @enctype = "multipart/form-data" }))
                            {
                                <button type="button" onclick="location.href='@Url.Action("PrintOrderRecapByDateRange", "OrderRecaps")'" target="_blank" class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-print"></span> Print
                                </button>
                            }
                        </div>

                        <div>
                            @foreach (var item in Model)
                            {
                                <hr />
                                <h4>Order Recap ID: @item.Id</h4>
                                <h4>Order No: @item.OrderNo</h4>
                                <h4>Style No: @item.Style.StyleNo</h4>
                                <h4>Order Date: @item.OrderDate</h4>
                                <h4>Shipment Date: @item.ShipmetDate</h4>
                                {
                                    <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th data-priority="1" style="text-align:center">Color Range</th>
                                                <th data-priority="1" style="text-align:center">Size Range</th>
                                                <th data-priority="1" style="text-align:center">Unit Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var itm in SizeBreakdownList)
                                            {
                                                if (itm.OrderRecapId == item.Id)
                                                {
                                                    <tr>
                                                        <td align="center">@itm.ColorRange.Name</td>
                                                        <td align="center">@itm.SizeRange.Name</td>
                                                        <td align="center">@itm.UnitPrice</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>                        
                    }
                </div>
            </div>
        </div>
    </div>
}

