﻿@model IEnumerable<ORMS.Models.OrderRecap>
@{
    ViewBag.Title = "PrintOrderRecapByDateRange";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var SizeBreakdownList = (List<ORMS.Models.SizeBreakdown>)Session["SizeBreakdownList"];
}

<script src="~/Content/jquery-1.11.2.min.js" type="text/javascript"></script>
<head>
    <meta charset="utf-8">
    <title>Order Recap</title>
    <link rel="stylesheet" href="style.css" media="all" />
</head>

<header class="clearfix">
    <h1>Order Recap List</h1>
</header>


<body>
    <main>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive" data-pattern="priority-columns">
                            <div>
                                @foreach (var item in Model)
                                {
                                    <hr />
                                    <h4>Order Recap ID: @item.Id</h4>
                                    <h4>Order No: @item.OrderNo</h4>
                                    <h4>Style No: @item.Style.StyleNo</h4>
                                    <h4>Order Date: @item.OrderDate</h4>
                                    <h4>Shipment Date: @item.ShipmetDate</h4>
                                    {
                                        <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th data-priority="1" style="text-align:center">Color Range</th>
                                                    <th data-priority="1" style="text-align:center">Size Range</th>
                                                    <th data-priority="1" style="text-align:center">Unit Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var itm in SizeBreakdownList)
                                                {
                                                    if (itm.OrderRecapId == item.Id)
                                                    {
                                                        <tr>
                                                            <td align="center">@itm.ColorRange.Name</td>
                                                            <td align="center">@itm.SizeRange.Name</td>
                                                            <td align="center">@itm.UnitPrice</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                }
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="notices">
            <div>Order Recap Information</div>
            <div class="notice">This is date wise record of your order recap information</div>
        </div>
    </main>
</body>
<footer style="margin-top:20%">
    <p class="text-center">Copyrights &#169; 2018 Sukla. All Rights Reserved.</p>
</footer>



<style>
    .square {
        border-radius: 4px;
        background: #228B22;
        width: 60%;
        height: 10%;
        text-align: center;
        margin-left: 25%;
        font-size: 30px;
    }

        .square b {
            color: #fff;
            text-align: center;
        }

    .square2 {
        border-radius: 4px;
        background: #ff0000;
        width: 60%;
        height: 10%;
        text-align: center;
        margin-left: 25%;
        font-size: 25px;
    }

        .square2 b {
            color: #fff;
            text-align: center;
        }

    .square3 {
        border-radius: 4px;
        background: #002366;
        width: 110%;
        height: 10%;
        text-align: center;
        font-size: 25px;
        margin-left: 15%;
    }

        .square3 b {
            color: #fff;
            text-align: center;
        }


    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    a {
        color: #5D6975;
        text-decoration: underline;
    }

    body {
        position: relative;
        width: 21cm;
        margin: 0 auto;
        color: #001028;
        background: #FFFFFF;
        font-family: Arial, sans-serif;
        font-size: 12px;
    }

    header {
        padding: 10px 0;
    }

    #logo {
        text-align: center;
        margin-bottom: 10px;
    }

        #logo img {
            width: 100%;
        }

    h1 {
        border-top: 1px solid #5D6975;
        border-bottom: 1px solid #5D6975;
        color: #5D6975;
        font-size: 2.4em;
        line-height: 1.4em;
        font-weight: normal;
        text-align: center;
        margin: 0 0 20px 0;
        background: url(dimension.png);
    }

    #project {
        float: left;
    }

        #project span {
            color: #5D6975;
            text-align: right;
            width: 52px;
            margin-right: 10px;
            display: inline-block;
            font-size: 0.8em;
        }

    #company {
        float: right;
        text-align: right;
    }

    #status {
        margin-top: 3%;
    }


    #project div,
    #company div {
        white-space: nowrap;
        font-size: 12px;
    }

    table {
        width: 50%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
    }

        table tr:nth-child(2n-1) td {
            background: #F5F5F5;
        }

        table th,
        table td {
            text-align: center;
        }

        table th {
            padding: 5px 20px;
            color: #5D6975;
            border-bottom: 1px solid #C1CED9;
            white-space: nowrap;
            font-weight: normal;
        }

        table .service,
        table .desc {
            text-align: left;
        }

        table td {
            padding: 20px;
            text-align: center;
        }

            table td.service,
            table td.desc {
                vertical-align: top;
            }

            table td.unit,
            table td.qty,
            table td.total {
                font-size: 1.2em;
            }

            table td.grand {
                border-top: 1px solid #5D6975;
            }

    #notices .notice {
        color: #5D6975;
        font-size: 1.2em;
    }
</style>