﻿@model ORMS.Models.FabricCost

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FabricCost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PreCost.GSM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreCost.GSM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yarn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yarn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knitting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knitting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dying)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dying)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lycra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lycra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AOP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AOP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fabriccost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabriccost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConDoz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConDoz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConPc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConPc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValPc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValPc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValDoz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValDoz)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
