﻿@model IEnumerable<ORMS.Models.FabricCost>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<center><h4>Cost Sheet Id: ViewBag.CostId</h4></center>
<div class="col-md-12 col-sm-12 col-xs-12">
    @{int rowNo = 0;}
    <table id="myTable" class="table table-striped dt-responsive display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>SL</th>
                <th>
                    File Number
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sequence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Yarn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Knitting)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dying)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lycra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AOP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wash)
                </th>
                <th>
                    Y/D
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Finish)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brash)
                </th>
                <th>
                    Fabric Cost
                </th>
                <th>
                    Con/Doz
                </th>
                <th>
                    Con/Pc
                </th>
                <th>
                    Val/Pc
                </th>
                <th>
                    Val/Doz
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>SL</th>
                <th>
                    File Number
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sequence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Yarn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Knitting)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dying)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lycra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AOP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wash)
                </th>
                <th>
                    Y/D
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Finish)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brash)
                </th>
                <th>
                    Fabric Cost
                </th>
                <th>
                    Con/Doz
                </th>
                <th>
                    Con/Pc
                </th>
                <th>
                    Val/Pc
                </th>
                <th>
                    Val/Doz
                </th>
                <th>Options</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center" width="5%">
                        @(rowNo += 1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreCost.GSM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sequence)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yarn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Knitting)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dying)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lycra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AOP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wash)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Finish)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brash)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fabriccost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConDoz)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConPc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValPc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValDoz)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Back to List", "Index", "PreCostSheets")
</div>
@section content
{
    @Styles.Render("~/Content/dataTable")
}
@section scripts
{
    @Scripts.Render("~/bundles/dataTable")
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'processing': true
            });
        });
    </script>
}
