﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ORMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("content", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ORMS", "Index", "Users", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @* <ul class="nav navbar-nav">
                       <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    </ul>*@
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Pre-Requisits
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if ( Session["UserType"].ToString() == "Admin" )
                            {
                            <li>@Html.ActionLink("Brands", "Index", "Brands")</li>
                            <li>@Html.ActionLink("Buyers", "Index", "Buyers")</li>
                            <li>@Html.ActionLink("Color Ranges", "Index", "ColorRanges")</li>
                            <li>@Html.ActionLink("Contact Persons", "Index", "ContactPersons")</li>
                            <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
                            <li>@Html.ActionLink("Fabrics", "Index", "Fabrics")</li>
                            <li>@Html.ActionLink("Knitting Types", "Index", "KnittingTypes")</li>
                            <li>@Html.ActionLink("Marchendisers", "Index", "Marchendisers")</li>
                            <li>@Html.ActionLink("Products", "Index", "Products")</li>
                            <li>@Html.ActionLink("Production Factories", "Index", "ProducttionFactories")</li>
                            <li>@Html.ActionLink("RefTypes", "Index", "RefTypes")</li>
                            <li>@Html.ActionLink("Fabrics", "Index", "Fabrics")</li>
                            <li>@Html.ActionLink("Size Ranges", "Index", "SizeRanges")</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Employee Management
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (Session["UserType"].ToString() == "Admin")
                            {
                                <li>@Html.ActionLink("EmployeeList", "Index", "Users")</li>
                            }
                            @if (Session["UserType"].ToString() == "Admin")
                            {
                                <li>@Html.ActionLink("Create Employee", "Create", "Users")</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Styles
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (Session["UserType"].ToString() == "Admin" || Session["UserType"].ToString() == "Employee")
                            {
                            <li>@Html.ActionLink("Style List", "Index", "Styles")</li>
                            }
                            @if (Session["UserType"].ToString() == "Employee")
                            {
                            <li>@Html.ActionLink("Style Create", "Create", "Styles")</li>
                            <li>@Html.ActionLink("Style Report", "StyleBbyNumber", "Styles")</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Order Recap
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (Session["UserType"].ToString() == "Admin" || Session["UserType"].ToString() == "Employee")
                            {
                            <li>@Html.ActionLink("Order Recap List", "Index", "OrderRecaps")</li>
                            }
                            @if (Session["UserType"].ToString() == "Employee")
                            {
                            <li>@Html.ActionLink("Order Recap Create", "Create", "OrderRecaps")</li>
                            <li>@Html.ActionLink("Order Recap Report", "OrderRecapByDateRange", "OrderRecaps")</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Pre-Cost Sheet Management
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (Session["UserType"].ToString() == "Admin" || Session["UserType"].ToString() == "Employee")
                            {
                            <li>@Html.ActionLink("Pre-Cost Sheet Index", "Index", "PreCostSheets")</li>
                            }
                            @if (Session["UserType"].ToString() == "Employee")
                            {
                            <li>@Html.ActionLink("Pre-Cost Sheet Create", "Create", "PreCostSheets")</li>
                            <li>@Html.ActionLink("Pre-Cost Sheet Report", "PreCostSheetByDateRange", "PreCostSheets")</li>
                            }
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Log out", "LogOut", "Users")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sukla</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
