﻿@model ORMS.Models.Total

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Total</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PreCost.GSM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreCost.GSM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalFabricCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalFabricCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAccesoriesCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAccesoriesCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOBCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOBCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
