﻿@model ORMS.Models.Style

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts {
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" language="javascript">
    $("#buyerName").autocomplete({
    source: function(request, response) {
        $.ajax({
            url: "/Buyers/GetExistingBuyers",
            type: "POST",
            dataType: "json",
            data: { BuyerName: $("#buyerName").val() },
            success: function (data) {
                response($.map(data, function(item) {
                    return { label: item.Name + " (" + item.Address + ")" + " (" + item.Email + ")" + " (" + item.ShotName + ")", id: item.Id, name: item.Name, contact_person_id: item.ContactPersonId, contact_person_name: item.ContactPerson.Name };
                }));
            }
        });
    },
    select: function (event, ui) {
        $("#buyerId").val(ui.item.id);
        $('#buyerName').val(ui.item.name);
        $("#contactPersonId").val(ui.item.contact_person_id);
        $('#contactPersonName').val(ui.item.contact_person_name);
        return false;
    }
    });

    $("#merchandiserName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Marchendisers/GetExistingMarchendisers",
                type: "POST",
                dataType: "json",
                data: { MarchendiserName: $("#merchandiserName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name + " (" + item.Email + ")" + " (" + item.Mobile + ")", id: item.Id, name: item.Name };
                    }));
                }
            });
        },
        select: function (event, ui) {
            $("#merchandiserId").val(ui.item.id);
            $('#merchandiserName').val(ui.item.name);
            return false;
        }
    });

    $("#colorRangeName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/ColorRanges/GetExistingColorRanges",
                type: "POST",
                dataType: "json",
                data: { ColorRange: $("#colorRangeName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name + " (" + item.Note + ")", name: item.Name };
                    }));
                }
            });
        },
        select: function (event, ui) {           
            if ($("#colorRange").val() != "") {
                $("#colorRange").val($("#colorRange").val() + "," + ui.item.name);
                $("#colorRangeText").html($("#colorRangeText").html() + "," + ui.item.name);
            }
            else {
                $("#colorRange").val(ui.item.name);
                $("#colorRangeText").html(ui.item.name);
            }            
            return false;
        }
    });

    $("#sizeRangeName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/SizeRanges/GetExistingSizeRanges",
                type: "POST",
                dataType: "json",
                data: { SizeRange: $("#sizeRangeName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name + " (" + item.Note + ")", name: item.Name };
                    }));
                }
            });
        },
        select: function (event, ui) {
            if ($("#sizeRange").val() != "") {
                $("#sizeRange").val($("#sizeRange").val() + "," + ui.item.name);
                $("#sizeRangeText").html($("#sizeRangeText").html() + "," + ui.item.name);
            }
            else {
                $("#sizeRange").val(ui.item.name);
                $("#sizeRangeText").html(ui.item.name);
            }
            return false;
        }
    });
</script>

@*<link rel="stylesheet" type="text/css" href="~/Content/tautocomplete.css" />
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="~/Content/tautocomplete.js" type="text/javascript"></script>
<script>
$(document).ready(function () {
    var text = $("#Text").tautocomplete({
        width: "500px",
        columns: ['ID', 'Name', 'Address', 'Email'],
        ajax: {
            url: "/Buyers/GetExistingBuyers",
            type: "POST",
            dataType: "json",
            data: function () {
                return [{ test: text.searchdata() }];
            },
            success: function (data) {

                var filterData = [];

                var searchData = eval("/" + text.searchdata() + "/gi");

                $.each(data, function (i, v) {
                    if (v.Name.search(new RegExp(searchData)) != -1) {
                        filterData.push(v);
                    }
                });
                return filterData;
            }
        },
        onchange: function () {
            $("#Text").html(text.text());
            $("#buyerId").html(text.id());
        }
    });
});
</script>*@
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Styles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Style</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.StyleNo, "Style No", new { @class = "required"})
                </div>
                    <div>
                        @Html.EditorFor(model => model.StyleNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StyleNo, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.BuyerId, "Buyer", new { @class = "required" })
                </div>
                     <div>
                        <input type="hidden" id="buyerId" name="BuyerId" />
                        <input type="text" class="form-control" id="buyerName" name="BuyerName" placeholder="Buyer Name" />
                        @*@Html.DropDownList("BuyerId", null, htmlAttributes: new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.BuyerId, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.DepartmentId, "Department", new { @class = "required" })
                </div>
                     <div>
                        @Html.DropDownList("DepartmentId", null, "Select Department", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                    </div>

                <br />
                <div>
                    @Html.LabelFor(model => model.FabricId, "Fabric", new { @class = "required" })
                </div>
                    <div>
                        @Html.DropDownList("FabricId", null, "Select Fabric", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FabricId, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.SizeRange, "Size Range", new { @class = "required" })
                </div>
                    <div>
                        <input type="text" class="form-control" id="sizeRangeName" name="SizeRangeName" placeholder="Size Range Name" />
                        <input type="hidden" class="form-control" id="sizeRange" name="SizeRange" />
                        <span id="sizeRangeText"></span>
                        @*@Html.DropDownList("SizeRangeId", null, htmlAttributes: new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.SizeRange, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.MerchandiserId, "Merchandiser", new { @class = "required" })
                </div>
                    <div>
                        <input type="hidden" id="merchandiserId" name="MerchandiserId" />
                        <input type="text" class="form-control" id="merchandiserName" name="MerchandiserName" placeholder="Merchandiser Name" />
                        @*@Html.DropDownList("MerchandiserId", null, "Select Merchandiser", htmlAttributes: new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.MerchandiserId, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.Knit, new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.Knit, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Knit, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.ContactPersonId, "Contact Person", new { @class = "required" })
                </div>
                     <div >
                        <input type="hidden" id="contactPersonId" name="ContactPersonId" />
                        <input type="text" class="form-control" id="contactPersonName" name="ContactPersonName" placeholder="Contact Person Name" readonly />
                        @*@Html.DropDownList("ContactPersonId", null, htmlAttributes: new { @class = "form-control"})*@
                        @Html.ValidationMessageFor(model => model.ContactPersonId, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.KnittingTypeId, "Knitting Type", new { @class = "required" })
                </div>
                    <div>
                        @Html.DropDownList("KnittingTypeId", null, "Select Knitting Type", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KnittingTypeId, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Count, new { @class = "required" })
                </div>
                     <div>
                        @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Fabrication, new { @class = "required" })
                </div>
                     <div>
                        @Html.EditorFor(model => model.Fabrication, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fabrication, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.DesignSketch, "Design Sketch", new { @class = "required" })
                </div>
                    <div>
                        <input type="file" name="image1" id="image1" class="form-control" />
                        @Html.ValidationMessageFor(model => model.DesignSketch, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.Session, new { @class = "required" })
                </div>
                     <div>
                        @Html.EditorFor(model => model.Session, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.BrandId, "Brand", new { @class = "required" })
                </div>
                    <div>
                        @Html.DropDownList("BrandId", null, "Select Brand", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.GSM, new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.GSM, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GSM, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.ColorRange, "Color Range", new { @class = "required" })
                </div>
                    <div>
                        <input type="text" class="form-control" id="colorRangeName" name="ColorRangeName" placeholder="Color Range Name" />
                        <input type="hidden" class="form-control" id="colorRange" name="ColorRange" />
                        <span id="colorRangeText"></span>
                        @*@Html.DropDownList("ColorRangeId", null, htmlAttributes: new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.ColorRange, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.StyleDescription, "Style Description", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.StyleDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StyleDescription, "", new { @class = "text-danger" })
                    </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
