﻿@model ORMS.Models.Style

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Style</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Style No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StyleNo)
        </dd>

        <dt>
            Brand
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>

        <dt>
           Buyer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buyer.Name)
        </dd>

        <dt>
            Color Range
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorRange)
        </dd>

        <dt>
           Contact Person
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson.Name)
        </dd>

        <dt>
            Department
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            Fabric
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabric.Name)
        </dd>

        <dt>
            Knitting Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KnittingType.Name)
        </dd>

        <dt>
            Marchendiser
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marchendiser.Name)
        </dd>

        <dt>
            Size Range
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fabrication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabrication)
        </dd>

        <dt>
            Stye
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StyleDescription)
        </dd>

        <dt>
            Design Sketch
        </dt>

        <dd>
            @{
                var imgsrc = "";
            }
            @if (Model.DesignSketch != null)
            {
                var base64 = Convert.ToBase64String(Model.DesignSketch);
                imgsrc = string.Format("data:/image/gif;base64,{0}", base64);
            }
            <img src='@imgsrc' style="max-width:100%; max-height:100%" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
