﻿@model ORMS.Models.Style

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript">
    $("#buyerName").autocomplete({
    source: function(request, response) {
        $.ajax({
            url: "/Buyers/GetExistingBuyers",
            type: "POST",
            dataType: "json",
            data: { BuyerName: $("#buyerName").val() },
            success: function (data) {
                response($.map(data, function(item) {
                    return { label: item.Name + " (" + item.Address + ")" + " (" + item.Email + ")" + " (" + item.ShotName + ")", id: item.Id, name: item.Name, contact_person_id: item.ContactPersonId, contact_person_name: item.ContactPerson.Name };
                }));
            }
        });
    },
    select: function (event, ui) {
        $("#buyerId").val(ui.item.id);
        $('#buyerName').val(ui.item.name);
        $("#contactPersonId").val(ui.item.contact_person_id);
        $('#contactPersonName').val(ui.item.contact_person_name);
        return false;
    }
    });

    $("#merchandiserName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Marchendisers/GetExistingMarchendisers",
                type: "POST",
                dataType: "json",
                data: { MarchendiserName: $("#merchandiserName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name + " (" + item.Email + ")" + " (" + item.Mobile + ")", id: item.Id, name: item.Name };
                    }));
                }
            });
        },
        select: function (event, ui) {
            $("#merchandiserId").val(ui.item.id);
            $('#merchandiserName').val(ui.item.name);
            return false;
        }
    });

    $("#colorRangeName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/ColorRanges/GetExistingColorRanges",
                type: "POST",
                dataType: "json",
                data: { ColorRange: $("#colorRangeName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name + " (" + item.Note + ")", name: item.Name };
                    }));
                }
            });
        },
        select: function (event, ui) {
            if ($("#colorRange").val() != "") {
                $("#colorRange").val($("#colorRange").val() + "," + ui.item.name);
                $("#colorRangeText").html($("#colorRangeText").html() + "," + ui.item.name);
            }
            else {
                $("#colorRange").val(ui.item.name);
                $("#colorRangeText").html(ui.item.name);
            }
            return false;
        }
    });

    $("#sizeRangeName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/SizeRanges/GetExistingSizeRanges",
                type: "POST",
                dataType: "json",
                data: { SizeRange: $("#sizeRangeName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name + " (" + item.Note + ")", name: item.Name };
                    }));
                }
            });
        },
        select: function (event, ui) {
            if ($("#sizeRange").val() != "") {
                $("#sizeRange").val($("#sizeRange").val() + "," + ui.item.name);
                $("#sizeRangeText").html($("#sizeRangeText").html() + "," + ui.item.name);
            }
            else {
                $("#sizeRange").val(ui.item.name);
                $("#sizeRangeText").html(ui.item.name);
            }
            return false;
        }
    });
    </script>
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Styles", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Style</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.StyleNo, "Style No", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StyleNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StyleNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Knit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Knit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Knit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Session, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BuyerId, "Buyer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" id="buyerId" name="BuyerId" value="@Model.BuyerId" />
                <input type="text" class="form-control" id="buyerName" name="BuyerName" placeholder="Buyer Name" value="@Model.Buyer.Name" />
                @*@Html.DropDownList("BuyerId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.BuyerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactPersonId, "Contact Person", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" id="contactPersonId" name="ContactPersonId" value="@Model.ContactPersonId"  />
                <input type="text" class="form-control" id="contactPersonName" name="ContactPersonName" placeholder="Contact Person Name" value="@Model.ContactPerson.Name" readonly />
                @*@Html.DropDownList("ContactPersonId", null, htmlAttributes: new { @class = "form-control"})*@
                @Html.ValidationMessageFor(model => model.ContactPersonId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BrandId, "Brand", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BrandId", null,"Select Brand", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "Department", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentId", null,"Select Department", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KnittingTypeId, "Knitting Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KnittingTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KnittingTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GSM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GSM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GSM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FabricId, "Fabric", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FabricId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FabricId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Count, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ColorRange, "Color Range", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" id="colorRangeName" name="ColorRangeName" placeholder="Add Color Range Name"/>
                <input type="hidden" class="form-control" id="colorRange" name="ColorRange" value="@Model.ColorRange"/>
                <span id="colorRangeText">@Model.ColorRange</span>
                @*@Html.DropDownList("ColorRangeId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.ColorRange, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SizeRange, "Size Range", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" id="sizeRangeName" name="SizeRangeName" placeholder="Add Size Range Name" />
                <input type="hidden" class="form-control" id="sizeRange" name="SizeRange"value="@Model.SizeRange" />
                <span id="sizeRangeText">@Model.SizeRange</span>
                @*@Html.DropDownList("SizeRangeId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.SizeRange, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fabrication, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fabrication, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fabrication, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StyleDescription,"Style Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StyleDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StyleDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MerchandiserId, "Merchandiser", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" id="merchandiserId" name="MerchandiserId" value="@Model.MerchandiserId"/>
                <input type="text" class="form-control" id="merchandiserName" name="MerchandiserName" placeholder="Merchandiser Name" value="@Model.Marchendiser.Name"/>
                @*@Html.DropDownList("MerchandiserId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.MerchandiserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DesignSketch, "Design Sketch", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="image1" id="image1" class="form-control" />
                @Html.ValidationMessageFor(model => model.DesignSketch, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
