﻿@model IEnumerable<ORMS.Models.Style>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Style Index</h2>

<div class="col-md-12 col-sm-12 col-xs-12">
    @{int rowNo = 0;}
    <table id="myTable" class="table table-striped dt-responsive display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>SL</th>
                <th>
                    Style No
                </th>
                <th>
                    Brand Name
                </th>
                <th>
                    Buyer
                </th>
                <th>
                    Color Range
                </th>
                <th>
                    Contact Person
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department.Name)
                </th>
                <th>
                    Fabric
                </th>
                <th>
                    Knitting Type
                </th>
                <th>
                    Merchandiser
                </th>
                <th>
                    Size Range
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Knit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Session)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GSM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fabrication)
                </th>
                <th>
                    Style desription
                </th>
                <th>
                    Design Sketch
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>SL</th>
                <th>
                    Style No
                </th>
                <th>
                    Brand Name
                </th>
                <th>
                    Buyer
                </th>
                <th>
                    Color Range
                </th>
                <th>
                    Contact Person
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department.Name)
                </th>
                <th>
                    Fabric
                </th>
                <th>
                    Knitting Type
                </th>
                <th>
                    Merchandiser
                </th>
                <th>
                    Size Range
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Knit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Session)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GSM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fabrication)
                </th>
                <th>
                    Style desription
                </th>
                <th>
                    Design Sketch
                </th>
                <th>Options</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center" width="5%">
                        @(rowNo += 1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StyleNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Buyer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ColorRange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactPerson.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fabric.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KnittingType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marchendiser.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SizeRange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Knit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Session)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GSM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fabrication)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StyleDescription)
                    </td>
                    <td>
                        @{
                            var imgsrc = "";
                        }
                        @if (item.DesignSketch != null)
                        {
                            var base64 = Convert.ToBase64String(item.DesignSketch);
                            imgsrc = string.Format("data:/image/gif;base64,{0}", base64);
                        }
                        <img src='@imgsrc' style="max-width:100%; max-height:100%" />
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section content
{
    @Styles.Render("~/Content/dataTable")
}
@section scripts
{
    @Scripts.Render("~/bundles/dataTable")
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'processing': true
            });
        });
    </script>
}

