﻿
@{
    ViewBag.Title = "StyleBbyNumber";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Style By Style Number</h2>
<br />
@using (Html.BeginForm("StyleBbyNumberView", "Styles"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="controls">
                    <input type="text" id="styleNo" name="StyleNo" placeholder="Style Number" class="form-control" data-start-view="2" required>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
    <hr />
    <div class="content-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive" data-pattern="priority-columns">
                    @if (Model.Count > 0)
                    {
                        <div class="btn-group">
                            @using (Html.BeginForm("PrintStyleByNumber", "Styles", FormMethod.Post, new { @target = "_blank", @role = "form", @enctype = "multipart/form-data" }))
                            {
                                <button type="button" onclick="location.href='@Url.Action("PrintStyleByNumber", "Styles")'" target="_blank" class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-print"></span> Print
                                </button>
                            }
                        </div>

                        <div>
                            @foreach (var item in Model)
                            {
                                <hr />
                                <h4>Style No: @item.StyleNo</h4>
                                <h4>Knit: @item.Knit</h4>
                                <h4>Session: @item.Session</h4>
                                <h4>Buyer: @item.Buyer.Name</h4>
                                <h4>Contact Person: @item.ContactPerson.Name</h4>
                                <h4>Department: @item.Department.Name</h4>
                                <h4>GSM: @item.GSM</h4>
                                <h4>Fabric: @item.Fabric.Name</h4>
                                <h4>Fabrication: @item.Fabrication</h4>
                                <h4>Style Description: @item.StyleDescription</h4>
                                <h4>Marchendiser: @item.Marchendiser.Name</h4>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}